/*Global Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #f9f9f9;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
}


/*Navbar*/
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 10px 30px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

#logo-img {
  height: 50px;
}

#brand-name text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

#brand-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #000000;
}

#tagline {
  font-size: 13px;
  color: #ff6600;
  margin: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 15px;
  color: #222;
  transition: color 0.3s, background 0.3s;
  padding: 6px 12px;
  border-radius: 6px;
}

.nav-links a:hover,
.nav-links a.active {
  color: #ff6600;
  background: #fff5f0;
}

.order-btn {
  background: linear-gradient(to right, #ff6600, #ff8800);
  color: #fff;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.order-btn:hover {
  background: linear-gradient(to right, #ff8800, #ff6600);
}


/*Home Section*/
#home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  min-height: 50vh;
  background: #ebf3f0;
  gap: 40px;
}

#home #badge {
  background: #fff4f4;
  color: #d63333;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 16px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid #f5bcbc;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.home-content {
  flex: 1;
  text-align: left;
}

.home-content h1 {
  font-size: 38px;
  color: #222;
  margin-bottom: 15px;
}

.home-content p {
  font-size: 20px;
  color: #444;
  margin: 15px 0;
  line-height: 1.6;
}

.home-btn {
  background: linear-gradient(to right, #ff6600, #ff8800);
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.home-btn:hover {
  background: linear-gradient(to right, #ff8800, #ff6600);
}

.menu-btn {
  background: transparent;
  border: 1px solid #ff6600;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-btn:hover {
  background: #ff6600;
  color: #fff;
}
/* Stats Row */
#home .stats {
  display: flex;
  justify-content: left;
  gap: 40px;
  margin-top: 25px;
  font-family: Arial, sans-serif;
}

#home .stats div {
  text-align: center;
  font-size: 16px;
  color: #333;
}

#home .stats strong {
  font-size: 22px;
  color: #ff8800;
  display: block;
  margin-bottom: 4px;
}
/*Right Side Image*/
.home-img {
  flex: 1;
  display: flex;
  justify-content: center;
}
.home-img img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/*Services section*/
#services{
  margin: 0;
  padding: 40px 20px;
  background: #f3f8fa;
  position: relative;
  text-align: center;
}

#services::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

#services > * {
  position: relative;
  z-index: 1;
}

#services h1 {
  font-size: 2.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 15px;
}

#services h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX();
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border-radius: 2px;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

#services .box {
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers content horizontally */
  flex: 1;
  min-width: 300px;
  background: linear-gradient(135deg, #ffffff 0%, #f8f9fa 100%);
  border-radius: 12px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #eeeeee;
  position: relative;
}

#services .box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.50);
}

#services .box img {
  display: block;
  margin: 0 auto 20px;
  max-width: 100px;
  height: auto;
}

#services .box h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

#services .box p{
  font-size: 18px;
  margin: 0;
}

#services h1,
#services .h.primary {
  margin-top: -10px;
  margin-bottom: 0;
}


/*Why Choose Us section*/
#why-choose {
  text-align: center;
  padding: 60px 30px;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fffaff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

#why-choose h1 {
  font-size: 2.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 15px;
  font-weight: 700;
}

#why-choose h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border-radius: 2px;
}

#why-choose p {
  text-align: center;
  color: #555;
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 1.6;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 30px;
  margin-top: 40px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-items: center;
  align-items: start;
}

.feature-item {
  background: linear-gradient(135deg, #ffffff 0%, #f8f9fa 100%);
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-70px);
}

.feature-item:hover {
  transform: translateX(-70px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.50);
}

.feature-item .icon {
  font-size: 24px;
  background: linear-gradient(135deg, #ff7e5f 0%, #feb47b 100%);
  color: white;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 20px;
}

.feature-item h3 {
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.feature-item p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}


/*How We Works Section*/
#working-section {
  margin: 0;
  padding: 40px 30px;
  background-color: #efe5db;
  border-radius: 15px;
  text-align: center;
}

#working-section h1 {
  font-size: 2.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 15px;
}

#working-section h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-55px);
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border-radius: 2px;
}

#working-section > p {
  font-size: 20px;
  color: #555;
  margin-bottom: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.step {
  flex: 1;
  min-width: 300px;
  background: linear-gradient(135deg, #ffffff 0%, #f8f9fa 100%);
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #eeeeee;
  position: relative;
}

.step:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.50);
}

.step-number {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #ff7e5f 0%, #feb47b 100%);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
}

.step-icon {
  width: 80px;
  height: 80px;
  margin: 10px auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ff7e5f 0%, #feb47b 100%);
  color: white;
  border-radius: 50%;
  font-size: 2rem;
}

.step h3 {
  font-size: 1.5rem;
  color: #2c3e50;
  margin-bottom: 15px;
}

.step p {
  color: #666;
  font-size: 20px;
}


/*Review Section*/
#reviews-section {
  padding: 50px 20px;
  background-size: cover;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 0;
  padding: 60px 40px;
  box-sizing: border-box;
  color: #333;        
  background-color: #f3f4f0;
  text-align: center;
}

#reviews-section h1 {
  font-size: 2.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 15px;
}

#reviews-section h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX();
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border-radius: 2px;
}

#review-right {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.card {
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 320px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.card_details p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

.card_details h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #222;
}

.delete-btn {
  position: absolute;
  top: 10px;
    right:10px ;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: red;
}
/* Apply to the form container */
#submit-review {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
/* Each field wrapper */
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.form-group label {
  width: 150px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* For radio buttons or ratings */
.star-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.star-rating input {
  display: none;
}
.star-rating label {
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}
.star-rating input:checked ~ label {
  color: gold;
}
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}

.rating-group {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: row;
}
.rating-group label {
  flex: 0 0 120px;
  font-weight: bold;
}
/* Review textarea */
textarea {
  height: 100px;
  resize: vertical;
}
/* Submit button */
.submit-review {
  display: block;
  margin: 20px auto 0;
  padding: 10px 25px;
  font-size: 1rem;
  background-color: #f78c30;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-review:hover {
  background-color: #a14c05bb;
}


/*Detail Section*/
#detail-section {
  background: linear-gradient(to right, #2c3e50, #4a6580);
  color: white;
  padding: 60px 0 30px;
  margin-top: 0;
}

.detail-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detail-brand,
.detail-links,
.detail-contact {
  flex: 1 1 30%;
  box-sizing: border-box;
  padding: 0 15px;
  min-width: 250px; 
}

.detail-brand {
  padding-right: 20px;
}

.detail-brand h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
  color: #ff7e5f;
}

.detail-brand h3 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  color: #feb47b;
}

.detail-brand p {
  font-size: 1.05rem;
  line-height: 1.7;
  color: #e0e0e0;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}
.social-icons a:hover {
  background: #ff7e5f;
  transform: translateY(-3px);
}

.detail-links h3, 
.detail-contact h3{
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #feb47b;
  position: relative;
  padding-bottom: 10px;  
}

.detail-links h3::after,
.detail-contact h3::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 3px;
  background: #ff7e5f;
  border-radius: 2px;
}

.detail-links ul {
  list-style: none;
}

.detail-links li {
  margin-bottom: 12px;
}

.detail-links a {
  color: #e0e0e0;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1.05rem;
}

.detail-links a:hover {
  color: #ff7e5f;
  padding-left: 5px;
}

.contact-info li {
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
  color: #e0e0e0;
}

.contact-info i {
  margin-right: 12px;
  color: #ff7e5f;
  font-size: 1.1rem;
}


/*Menu Section*/
#menu-section {
  padding: 50px 20px;
  background: #fffaf5;
  text-align: center;
}

#menu-section h1 {
  font-size: 2.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
}

#menu-section h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border-radius: 2px;
}

#menu-section p {
  font-size: 20px;
  color: #555;
  margin-bottom: 30px;
}

.meal-filters,
.type-filter {
  margin: 20px 0;
}

.filter-btn {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 14px;
}

.filter-btn:hover,
.filter-btn:active {
  background: #ff6600;
  color: #fff;
  border-color: #ff6600;
}

.filter-btn.active {
  background: #ff7e5f;
  color: #fff;
  border-color: #ff6600;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
  align-items: stretch;
}

.menu-item {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.menu-item:hover {
  transform: translateY(-5px);
}

.menu-img img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.menu-img span {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fffcfc;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}

.menu-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0;
  padding: 15px;
  text-align: center;
}

.menu-content h3 {
  font-size: 18px;
  font-weight: bold;
  color: #222;
  margin: 8px 0px;
}

.menu-content p {
  flex-grow: 1;
  font-size: 14px;
  color: #555;
  margin-bottom: 8px 0px;
}

.menu-content span {
  font-weight: bold;
  font-size: 16px;
  color: #ff6600;
  margin-top: auto;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.badge-veg {
  background: #4caf50;
}

.badge-nonveg {
  background: #e53935;
}

.badge-vegan {
  background: #00bcd4;
}

.badge-special {
  background: #ff9800;
}
/*Chef's Special*/
#chefs-special {
  margin: 50px auto;
  padding: 30px;
  background: linear-gradient(to right, #ff7e5f, #27ae60);
  border-radius: 15px;
  text-align: center;
  color: #fff;
  max-width: 1100px;
}

#chefs-special h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

#chefs-special p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

#chefs-special .btn {
  background: #fff;
  color: #e74c3c;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

#chefs-special .btn:hover {
  background: #f1f1f1;
}


/*Order Page*/
#order-page {
  padding: 50px 20px;
  background: #fffaf5;
  text-align: center;
}

#order-page h1 {
  font-size: 2.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
}

#order-page h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border-radius: 2px;
}

#order-page p {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

.meal-order-filters,
.type-order-filter {
  margin: 20px 0;
}

.order-filter {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 14px;
}

.order-filter:hover,
.order-filter:active {
  background: #ff6600;
  color: #fff;
  border-color: #ff6600;
}

.order-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 10px;
  margin-top: 30px;
}

.order-list {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.order-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0, 6px, 12px, rgba(0, 0, 0, 0.2);
  gap: 20px;
  margin-top: 30px;
}

.order-item {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.order-item:hover {
  transform: translateY(-5px);
}

.order-img img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.order-img span {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fffcfc;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}

.order-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  overflow: hidden;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.order-content h3 {
  font-size: 18px;
  font-weight: bold;
  color: #222;
  margin: 8px 0px;
}

.order-content p {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px 0px;
}

.order-content span {
  font-weight: bold;
  font-size: 16px;
  color: #ff6600;
  margin-bottom: 12px;
}

 .order-content button {
  background: linear-gradient(to right, #ff6600, #ff8800);
  color: #fff;
  padding: 12px;
  margin-bottom: 0;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
  text-align: center;
}
.order-content button:hover {
  background: linear-gradient(to right, #ff8800, #ff6600);
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.badge-veg {
  background: #4caf50;
}

.badge-nonveg {
  background: #e53935;
}

.badge-vegan {
  background: #00bcd4;
}

.badge-special {
  background: #ff9800;
}

.order-filter.active {
  background: #ff7e5f;
  color: #fff;
  font-weight: bold;
}
/*Order Sidebar*/
.order-sidebar {
  position: sticky;
  top: 100px;
  width: 350px;
  height: auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}


.cart {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #eee;
  max-height: fit-content;
  height: 100%;
}

.cart h3 {
  margin-top: 0;
  text-align: left;
  font-size: 1.2rem;
  color: #ff6600;
}

/* Cart Styles */
.cart-list {
    margin: 15px 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-name {
    display: block;
    font-weight: bold;
}

.cart-item-price {
    color: #e67e22;
}

.remove-btn {
    background: #ff4757;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-btn:hover {
    background: #ff3742;
}

.total-container {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 2px solid #e67e22;
    font-size: 1.2em;
    text-align: right;
}

.detail-form {
  display: none;
}

.detail-form form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detail-form label {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 3px;
}

.detail-form input[type="text"],
.detail-form input[type="tel"],
.detail-form input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem;
  outline: none;
  transition: border 0.3s ease;
}

.detail-form input:focus {
  border: 1px solid #4CAF50;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.carousel label {
  background: #f1f1f1;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ddd;
  font-size: 0.9rem;
  align-items: center;
}

.carousel input[type="radio"] {
  display: none;
}

.carousel input[type="radio"]:checked + label {
  background: #4CAF50;
  color: #fff;
  border: 1px solid #4CAF50;
}

.carousel input[type="radio"]:checked + label::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 5px;
}

#order-btn {
  background: linear-gradient(to right, #ff6600, #ff8800);
  color: #fff;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
  text-align: center;
}

#order-btn:hover {
  background: linear-gradient(to right, #ff8800, #ff6600);
}


/*About Section*/
#about-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 60px;
  min-height: 50vh;
  background: linear-gradient(to bottom, #fff, #f9f9f9);
  gap: 20px;
  flex-wrap: wrap;
}

#about-section h1 {
  font-size: 2.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
  position: relative;
  padding-bottom: 15px;
}

#about-section h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border-radius: 2px;
}

.about-left {
  flex: 1.2;
  padding-top: 5%;
  padding-left: 20%;
}

.about-left p {
  font-size: 25;
  color: #444;
  margin-bottom: 30px;
  text-align: left;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.features-list li {
  display: flex;
  align-items: start;
  gap: 16px;
}
.features-list i {
  font-size: 24px;
  color: #ff6600;
  margin-top: 4px;
}


/*Our Story*/
#story-section {
  background: linear-gradient(to bottom, #fff, #f9f9f9);
  text-align: center;
  padding: 3rem 1rem;
}

#story-section .story-content {
  max-width: 900px;
  margin: 0 auto;
}

#story-section h1 {
  font-size: 2.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
}

#story-section h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border-radius: 2px;
}

#story-section strong {
  font-weight: bold;
}

.story-content p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
  margin-bottom: 20px;
}


/*Our Value*/
#values {
  background: linear-gradient(to bottom, #fff, #f9f9f9);
  padding: 80px 2rem;
  text-align: center;
}

#values h1 {
  font-size: 2.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
}

#values h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border-radius: 2px;
}

#values p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 50px;
}

.value-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 30px;
  margin-top: 40px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-items: center;
  align-items: start;
  transform: translateX(80px);
}

.vcard {
  background: linear-gradient(135deg, #ffffff 0%, #f8f9fa 100%);
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-70px);
}

.vcard:hover {
  transform: translateX(-70px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.50);
}

.card-icon {
  font-size: 2.2rem;
  color: #ff6600;
  margin-bottom: 15px;
}

.vcard h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: #333;
}

.vcard p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}


/*Our Impact*/
#impact-section {
  background: linear-gradient(to bottom, #fff, #f9f9f9);
  background-color: rgb(206, 121, 121);
  padding: 80px 2rem;
  text-align: center;
  margin-top: 0;
}

#impact-section h1 {
  font-size: 2.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
}

#impact-section h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border-radius: 2px;
}

#impact-section p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 50px;
}
/*Impact Numbers*/
.impact-numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.impact-numbers .number {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ff8800;
  display: block;
  margin-bottom: 8px;
}

.impact-numbers p {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}


/*Our Team*/
#team-section {
  background: linear-gradient(to bottom, #fff, #f9f9f9);
  padding: 80px 2rem;
  text-align: center;
  margin-top: 0;
}

#team-section h1 {
  font-size: 2.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
}

#team-section h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border-radius: 2px;
}

#team-section p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 50px;
}
/*Team Members*/
.team-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  justify-content: center;
  align-items: stretch;
}

.team-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.team-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.50);
}

.team-card img {
  width: 100%;
  max-width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.team-card h4 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 5px;
}

.team-card span {
  display: block;
  font-size: 0.95rem;
  color: #ff6600;
  font-weight: 600;
  margin-bottom: 10px;
}

.team-card p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.5;
}


/*Our Mission*/
#mission-section {
  padding: 30px;
  background: linear-gradient(to right, #ff7e5f, #27ae60);
  text-align: center;
  color: #fff;
}

#mission-sectipon i {
  font-size: 25px;
  background: linear-gradient(135deg, #ff7e5f 0%, #feb47b 100%);
  color: white;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 20px;
}

#mission-section h1 {
  font-size: 2.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
}

#mission-section p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}


/* Contact Section */
#contact-hero {
  text-align: center;
  padding: 3rem 1rem;
}

#contact-hero h1 {
  font-size: 2.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
}
#contact-hero h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border-radius: 2px;
}

#contact-hero p {
  margin-top: 0.5rem;
  color: #666;
  font-size: 1rem;
}
/* Container */
#container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding: 2rem;
}
/* Contact Info Section */
.contact-info .info-box {
  background: #fff;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
.contact-info h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #222;
}
.contact-info p {
  margin-bottom: 0.8rem;
  font-size: 0.95rem;
  color: #555;
}
.contact-info i {
  color: #ff6a00;
  margin-right: 0.5rem;
}
/* Social Links */
.contact-social {
  background: #fff;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.contact-social ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.contact-social a {
  font-size: 1.2rem;
  color: #555;
  text-decoration: none;
  transition: 0.3s;
}

.contact-social a:hover {
  color: #ff6a00;
}
/* Contact Form Section */
#contact-form {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #333;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.95rem;
  outline: none;
  transition: border 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #ff6a00;
}

textarea {
  resize: none;
}

.submit-btn {
  width: 100%;
  background: #ff6a00;
  color: #fff;
  border: none;
  padding: 0.9rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-btn:hover {
  background: #e55a00;
}
/* Call to Action Section */
#cta-section {
  margin: 50px auto;
  padding: 30px;
  background: linear-gradient(to right, #ff7e5f, #27ae60);
  border-radius: 15px;
  text-align: center;
  color: #fff;
  max-width: 1100px;
}

#cta-section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

#cta-section p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

#cta-section .cta-btn {
  background: #fff;
  color: #e74c3c;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

#cta-section .cta-btn:hover {
  background: #f1f1f1;
}


/*Utility Classes*/
h2 {
  margin-bottom: 20px;
}

.highlight {
  color: #ff6600;
  font-family: 'Times New Roman', Times, serif;
}

.btn {
  background-color: #ff5722;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 17px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e61c19;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.center{
  text-align: center;
}

#copyright {
  text-align: center;
  background-color: black;
  color: white;
}

.star {
  font-size: 2rem;
  color: #ccc;
  transition: color 0.2s ease;
  cursor: pointer;
}

.star-rating {
  flex: 1;
  direction: rtl;
  display: flex;
  font-size: 2rem;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: auto;
  max-width: 100%;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ff9800;
}

.star.selected {
  color: orange;
}